/* appointment.css */
.main {
    padding: 20px; /* Отступы */
}

.appointment {
    background-color: white; /* Белый фон для формы */
    padding: 20px; /* Отступы */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень */
    max-width: 600px; /* Максимальная ширина формы */
    margin: 0 auto; /* Центрирование формы */
}

.appointment__title {
    margin-bottom: 20px; /* Отступ снизу */
    color: #1c3044; /* Цвет заголовка записи */
    text-align: center; /* Центрирование заголовка */
}

.appointment__form {
    display: flex; /* Используем flex для выравнивания */
    flex-direction: column; /* Вертикально */
}

.appointment__label {
    margin-bottom: 5px; /* Отступы между label и input */
    font-weight: bold; /* Жирный шрифт для меток */
}

.appointment__input,
.appointment__select {
    padding: 10px; /* Отступы внутри полей ввода */
    margin-bottom: 15px; /* Отступы между полями */
    border: 1px solid #ddd; /* Легкая граница */
    border-radius: 5px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта */
}

.appointment__input:focus,
.appointment__select:focus {
    border-color: #174c86; /* Цвет границы при фокусе */
    outline: none; /* Убираем стандартный контур при фокусе */
}

.appointment__button {
    background-color: #174c86; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    padding: 10px; /* Отступы внутри кнопки */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель для курсора */
    font-size: 16px; /* Размер шрифта */
    transition: background-color 0.3s; /* Плавный переход цвета */
}

.appointment__button:hover {
    background-color: #ffdd57; /* Цвет фона кнопки при наведении */
    color: #174c86; /* Цвет текста кнопки при наведении */
}

.modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

#closeModal {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#closeModal:hover {
    background-color: #0056b3;
}
/* Стили модального окна */
.applications {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 60, 65, 0.7);
    z-index: 1000;
}

.application {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 90%;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.application__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.application__input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.application__button {
    padding: 12px;
    background-color: #d52027;
    color: white;
    border: none;
    cursor: pointer;
}

.application__close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
/* Стили для модального окна (кнопка записаться)*/
.confirmation-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.confirmation-content {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.confirmation-title {
    margin: 0 0 20px 0;
    color: #333;
}

.confirmation-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}