/* responsive.css */
@media (max-width: 768px) {
    .nav__list {
        flex-direction: column; /* Вертикальное выравнивание элементов навигации */
    }

    .services__list,
    .client-reviews__container {
        width: 100%; /* Ширина 100% для небольших экранов */
    }
}
@media (max-width: 768px) {
    .client-reviews__review {
        width: 100%; /* Ширина занимает всю доступную область */
        margin-bottom: 20px; /* Отступ между отзывами */
    }

    .client-reviews__container {
        flex-direction: column; /* Вертикальное расположение отзывов */
        align-items: center; /* Центрируем отзывы */
    }

    .client-reviews__prev,
    .client-reviews__next {
        font-size: 16px; /* Уменьшаем размер шрифта */
        padding: 8px 12px; /* Уменьшаем внутренние отступы */
    }
}