/* Скрываем контент до загрузки */
.content {
    display: none;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fefefb;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.loader span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #141414;
    margin: 0 5px;
}

.dot1 {
    animation: bounce 1s ease-in-out infinite;
}

.dot2 {
    animation: bounce 1s ease-in-out 0.33s infinite;
}

.dot3 {
    animation: bounce 1s ease-in-out 0.66s infinite;
}